.itemdetailpage .content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    display: block;
    height: 100%;
    overflow-x: auto;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .itemdetailpage .content article {
        /* Define a multi-column, horizontally scrolling article by default. */
        column-fill: auto;
        column-gap: 80px;
        column-width: 480px;
        height: calc(100% - 183px);
        margin-left: 120px;
        margin-top: 133px;
        width: 480px;
    }

        .itemdetailpage .content article header .item-title {
            margin-bottom: 19px;
        }

        .itemdetailpage .content article header .item-subtitle {
            margin-bottom: 16px;
            margin-top: 0;
        }

        .itemdetailpage .content article .item-image {
            height: 240px;
            width: 460px;
        }

        .itemdetailpage .content article .item-content p {
            margin-top: 10px;
            margin-bottom: 20px;
            margin-right: 20px;
        }

span.box {
    display: block;
    border: 2px solid white;
    height: 80px;
    width: 80px;
    float: left;
    margin: 5px;
}

div.information {
    clear: both;
}

span.mark1 {
    background: url('/Images/TicTacToeX.png') center center no-repeat;
}

span.mark2 {
    background: url('/Images/TicTacToeO.png') center center no-repeat;
}

div#game {
    width: 320px;
}

.clear {
    clear: both;
}
div#serverInformation {
    clear: both;
    margin-top: 30px;
    font-size: 80%;
    font-style: italic;
}
span#gameInformation {
    font-weight: bold;
    font-size: 120%;
}

.button {
    margin-top: 10px;
}

@media screen and (-ms-view-state: snapped) {
    .itemdetailpage .content {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }

        .itemdetailpage .content article {
            /* Define a single column, vertically scrolling article in snapped mode. */
            -ms-grid-columns: 300px 1fr;
            -ms-grid-row: 2;
            -ms-grid-rows: auto 60px;
            display: -ms-grid;
            height: 100%;
            margin-left: 20px;
            margin-top: 6px;
            width: 300px;
        }

            .itemdetailpage .content article header .item-title {
                margin-bottom: 10px;
            }

            .itemdetailpage .content article .item-image {
                height: 140px;
                width: 280px;
            }

            .itemdetailpage .content article .item-content {
                padding-bottom: 60px;
            }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .itemdetailpage .content article {
        margin-left: 100px;
    }
}
